.icon{
    position: absolute;
    left:  0px;
    top: 11px;
    color: goldenrod;
    width: 11%;
    height: 2px;
    font-size: 33px;
}
.h1
{
    margin-top: 30px;
    font-size: 26px;
    margin-left: 37px;
}
.col
{
    margin-top: 35px;
    margin-left: 56px;
}

.icon2{
 
    color: goldenrod;
    font-size: 36px;
    margin-top: 10px;
    margin-left: 35px;
   
}
.mg-top {
    margin-top: 0px;
}