<ion-header>

  <ion-toolbar>
    <div class="icon">
      <ion-icon name="arrow-back" (click)="back()"></ion-icon>
    </div>
    <ion-title class="font"></ion-title>

  </ion-toolbar>
</ion-header>


<ion-content padding style="color:white">
  <h1 class="font">ปริมาณคนที่รองรับได้</h1>
  <ion-item class="item">
    <ion-label position="fixed"></ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div  class="icon2" *ngIf="namecheck===ture">
    <ion-icon  name="{{nameicon}}" (click)="edit()"></ion-icon>
  </div>
  <div *ngIf="namecheck===false">
    vvvvvv
  </div>

  

  <ion-row class="mg-top">
    <ion-col size="1">
    </ion-col>
    <ion-col size="5">
      <ion-button mode="md" class="fs" expand="block" fill="outline" (click)="save()">บันทึก</ion-button>

    </ion-col>
    <ion-col size="5">
      <ion-button mode="md" class="fs" color="danger" expand="block" fill="outline" (click)="clickCancel()">ยกเลิก
      </ion-button>
    </ion-col>
    <ion-col size="1">

    </ion-col>
  </ion-row>
</ion-content>