<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()" slot="start">
      <ion-icon style="font-size: 30px; color: #FF6969;" slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>



      ข้อมูลร้านค้า
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img style="width: 100vw;height: 52vw;"
      src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1550205621/Mookata/no-img-shop.jpg"></ion-img>

    <app-upload-image (url)="onUrlCallback($event)">

      <ion-button class="btn-regis btn-add-profile " expand="block" mode="ios" shape="round" fill="outline">Add
        Profile</ion-button>



    </app-upload-image>
  </div>
  <ion-list style="margin-top: 25px !important;">
    <ion-item>
      <ion-label position="fixed">Shop name</ion-label>
      <ion-input [(ngModel)]="dataShop.name"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="fixed">Starttime</ion-label>
      <ion-datetime [(ngModel)]="dataShop.starttime" display-format=" HH:mm A"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Endtime</ion-label>
      <ion-datetime [(ngModel)]="dataShop.endtime" display-format=" HH:mm A"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">House no</ion-label>
      <ion-input [(ngModel)]="dataShop.house_no" type="email" id="email" name="email" minlength="8">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Village</ion-label>
      <ion-input [(ngModel)]="dataShop.village" type="email" id="email" name="email" minlength="8">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Subdistrict</ion-label>
      <ion-input [(ngModel)]="dataShop.subdistrict" type="email" id="email" name="email" minlength="8">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">District</ion-label>
      <ion-input [(ngModel)]="dataShop.district" type="email" id="email" name="email" minlength="8">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Province</ion-label>
      <ion-input [(ngModel)]="dataShop.province" type="email" id="email" name="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">District</ion-label>
      <ion-input [(ngModel)]="dataShop.district" type="email" id="email" name="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Postalcode</ion-label>
      <ion-input [(ngModel)]="dataShop.postalcode" type="email" id="email" name="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Title Descreiption</ion-label>
      <ion-input [(ngModel)]="dataShop.descreiption.title" type="password" id="pass" name="password">
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="fixed">Detail Descreiption</ion-label>
      <ion-textarea [(ngModel)]="dataShop.descreiption.detail"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button class="btn-regis" mode="ios" expand="full" shape="round" (click)="confirm()">Register
    <ion-icon class="icon-regis" name="arrow-dropright-circle"></ion-icon>
  </ion-button>
</ion-content>