<ion-list>
  <ion-item lines="none" *ngFor="let item of dataQueue;let i = index">
    <ion-avatar slot="start">
      <img src="https://cache.gmo2.sistacafe.com/images/uploads/summary/image/41751/3e9fea8de38ad5631fd691a1e9c54c26.jpg">
    </ion-avatar>
    <ion-label>
      <h1> {{item.createby.displayname}}</h1>
      <h3> คิวที่ {{i +1}}</h3>
      <h3>จำนวน {{item.peoples}} คน</h3>
    </ion-label>
    <ion-grid>
      <ion-row>
        <ion-button expand="block" color="secondary" (click)="onUpdate(item)">อัพเดท</ion-button>
      </ion-row>
      <ion-row>
        <ion-button expand="block" color="danger" (click)="onPass(item)">ข้าม</ion-button>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-list>