ion-button{
    width: 100%;
}
ion-avatar{
    width: 20%;
    height: 20%;
}
ion-item{
    padding:6px;
    margin: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    --ion-background-color: white;
    box-shadow: 2px 1px 11px 0px rgba(49, 41, 41, 0.5);
}